# Dependencias
node_modules/
vendor/

# Entornos y secretos
.env
.env.local
.env.*.local

# Builds
dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# IDE / SO
.DS_Store
.idea/
.vscode/
*.swp

# CI4
backend/writable/*
!backend/writable/index.html
backend/public/uploads/*
